:root{
    --green:#3A9943;
}
*{
    font-family: "Roboto", sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--green);
    color: #fff;

}
html{
    font-size:100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
section{
    padding-top: 0.4rem;

}

.header-1,
.header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 6%;
    background: var(--green);

}

.header-1{
    border-bottom: .1rem solid rgba(255,255,255,.2);

}

.header-1 span{
    font-weight: lighter;
    color:#fff;
    font-size: 1.7rem;
}

.header-1 a{
    padding:0 .7rem;
    color:#fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-1 a:hover{
    color: hsl(300, 100%, 50%);
}

.header-2 .logo{
    font-weight: bolder;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.header-2 .logo i{
    color:yellow;
    margin-right: 10px;

}

.header-2 .search-bar-container{
    display: flex;
    align-items: center;
    width: 35rem;
    padding: 1.0rem;
    background: rgba(255,255,255,.2);
    border-radius: .5rem;
}

.header-2 .search-bar-container #search-bar{
    width: 100%;
    background: none;
    text-transform: none;
    color: #fff;
    font-size: 1.0rem;

}

.header-2 .search-bar-container #search-bar::placeholder{
    text-transform: capitalize;
    color: #ddd;

}

.header-2 .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.header-2 .search-bar-container label:hover{
    color: rgb(255, 0, 191);

}
.home .home-slider{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-top: 0;
    
}
.home .home-slider .box{
    background-position: center !important;
    background-size: cover !important;
    min-height: 35rem;
    position: relative;
    margin-right: 5px;

}
.home .home-slider .box .content{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-10%);
    max-width: 40rem;
}

.home .home-slider .box .content span{
    font-size: 1.7rem;
    color: #444;

}
.home .home-slider .box .content h3{
    font-size: 3.0rem;
    color: black;
    
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.5rem 2.5rem;
    background: rgb(35, 35, 255);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
    background: rgb(209, 255, 5);
}
.home-slider{
    overflow: hidden;
}
.home{
    margin-bottom: 15px;
}
.heading{
    font-size: 2.1rem;
    color: #444;
    padding-left: 1rem;
    border-left: .4rem solid var(--green);
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.category .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 3.7rem;
}
.category .box-container .box{
    position: relative;
    flex: 1 1 14rem;
    height: 25rem;
    overflow: hidden;
    border: .2rem solid rgba(0, 0, 0, .3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.category .box-container .box img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.category .box-container .box .content{
    position: absolute;
    border-top: .1rem solid rgba(0, 0, 0, .3);
    text-align: center;
    padding: .5rem 0;
    width: 100%;
    
}
.category .box-container .box .content h3{
    color: #333;
    padding:.5rem 0;
}

.category .box-container .box .content .btn{
    margin-bottom: 1.3rem;
}

.product{
    margin-left: 260px;
}
.product  .box-container .box{
    margin-bottom: 7rem;
    flex: 1 1 15rem;
    text-align: center;
    position: relative;
} 
    
.product  .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.49rem;
    margin-bottom: 10px;
    
}
.product  .box-container .box img{
    height: 15rem;
    width: 100%;
    border: .1rem solid rgba(0,0,0,.3);
    object-fit: cover;
    margin-bottom: .4rem;
}
.product  .box-container .box .icons{
    position: absolute;
    top: .6rem;right: -8rem;
    /*right: .6rem;*/
    display: flex;
    flex-flow: column;
    background: #fff;
    border-radius: 5rem;
    padding: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    visibility: hidden;
}
.product  .box-container .box:hover .icons{
    right: .6rem;
    visibility: inherit;
}
.product  .box-container .box .icons a{
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.0rem;
    color: #333;
    border-radius: 5rem;
    margin: .1rem;
    text-decoration: none;
}
.product  .box-container .box .icons a:hover{
    color: #fff;
    background: var(--green);
}
.product  .box-container .box h5{
    color: #333;
}
.product  .box-container .box .text{
    border: .1rem solid rgba(0, 0, 0, .3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-top: none;
}
.product  .box-container .box .stars{
    margin-bottom: .4rem;
}
.product  .box-container .box .stars i{
    color: gold;
    font-size: 1.4rem;
}
.product  .box-container .box .quantity{
    padding: .5rem 0;
}
.product  .box-container .box .quantity input{
    padding: .1rem;
    text-align: center;
    background: rgba(0,0,0,.1);
}
.product  .box-container .box .price{
    font-weight: bolder;
    color: var(--green);
    padding: .5rem 0;

}
.product  .box-container .box .btn{
    display: block;
    margin: .5rem;
}









/*.banner-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.0rem;
}
.banner{
    max-height: 440px;
    max-width: 246px;
}
.banner img{
    height: 340px;
    width: 246px;
}
.banner-container .banner{
    border:.3rem solid rgba(0,0,0,0.3);
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    position: relative;
}
.banner-container .banner .content{
    position: absolute;
    top: 35%;
    left: 5%;
    
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    
}*/
.box-container .box{
    max-height: 370px;
    max-width: 246px;
}

.footer1{
    margin-left: 270px;
}






/*media queries*/


@media(max-width:1200px){
    html{
        font-size:70%;
        
    }

}
@media(max-width:991px){
    .header-1,
    .header-2{
            padding: 0.8rem;
    }
    section{
        padding: 1.5rem;
    }
}

@media(max-width:768px){
    .header-2{
        flex-flow: column;
    }
    .header-2 .search-bar-container{
        width: 100%;
        margin-top: 1.5rem;
    }
    .header-1{
        display: none;
    }
    .home .home-slider .box{
        background-position: right !important;
        z-index: 0;
    }
    .home .home-slider .box::before{
        content: " ";
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, .7);
    }
    .home .home-slider .box .content h3{
        font-size: 2rem;
    }
}

@media(max-width:450px){
    html{
        font-size:60%;
        
    }
    .header-1{
        display: none;
    }

}

